---
name: 'Lint'
permissions:
  contents: 'read'
on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'
jobs:
  lint:
    name: 'Lint'
    runs-on: 'depot-ubuntu-24.04-small'
    steps:
      - uses: 'actions/checkout@v5'
      - uses: 'bahmutov/npm-install@v1'
      - name: 'Run typechecking'
        run: 'CI=true yarn run tsc -noEmit'
      - name: 'Run prettier'
        run: 'CI=true yarn run format:check'
      - name: 'Run lint'
        run: 'CI=true yarn run lint'

  conventional-commits:
    name: 'Lint Commit Messages'
    runs-on: 'depot-ubuntu-24.04-small'
    if: "github.event_name == 'pull_request' && (github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.action == 'reopened' || github.event.action == 'edited')"
    steps:
      - uses: 'actions/checkout@v5'
      - uses: 'webiny/action-conventional-commits@v1.3.0'
